.jumbotron {
  background-color: #000000;
  color: white;
  height: 60px;
  width: 100%;
  position: relative;
  padding-top: 10px;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #000000;
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  align-self: flex-end; }

.terapia {
  flex: 1 250px;
  margin-top: 20px;
  margin-bottom: 0px; }

.btn-cita {
  width: 100%;
  border-radius: 10px 30px;
  margin-top: 0px;
  margin-bottom: 10px; }

.fondo {
  background-color: #ccc; }

.footer-icon {
  padding-right: 10px; }

.button-icon {
  padding-right: 10px; }

.card-img-top {
  height: 120px;
  width: 100%; }

.tab-content {
  padding-top: 10px; }

.registro {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px; }
